img {
  width: 25%;
  height: auto;
}

header {
  height: auto;
  width: auto;
  background-color: black;
}

input {
  width: 100%;
}
/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100px;
    font-weight: 400;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/
#title {
  font-size: 70px;
}

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.container__title {
    font-size: 25px;
    align-items: center;
    width: auto;
    margin-bottom: 10px;
    font-weight: 300;
}

.dashboard__client--name {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.meeting__type {
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 20px;
}



.meeting__type--text {
    float: left;
    color: #444;
    margin-top: 2px;
    margin: 0px 50px 0px 0px;
    width: 45%;
}

.attendee__name {
  float: left;
  transition: transform .3s;
}

.attendee__delete--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}

.attendee__delete--btn:focus { 
  outline: none; 

}

.attendee__delete--btn:active { 
  transform: translateY(2px); 
}

.attendee:hover .attendee__delete--btn { 
  display: block; 
}
.attendee:hover .attendee__name { 
  transform: translateX(-20px); 
}
